.rope {
  object-fit: cover;
  width: 100vw;
  height: 500px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  // position: fixed;
  // top: 50%;
  // left: 50%;
  // min-width: 100%;
  // min-height: 100%;
  // width: auto;
  // height: auto;
  // z-index: -1;
  // transform: translateX(-50%) translateY(-50%);
}
.running {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

#pattern:before {
  position: absolute;
  content: "";
  height: 713px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  $color: #000;
  $rotation: 10;
  background-image: linear-gradient(
    #{$rotation}deg,
    $color 25%,
    transparent 25%,
    transparent 50%,
    $color 50%,
    $color 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}
