@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables.scss";
@import "./home.scss";
@import "./parallax.scss";
@import "./profile.scss";
@import "./membershipCard.scss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "react-toastify/dist/ReactToastify.css";
@import "react-multi-carousel/lib/styles.css";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  box-sizing: border-box;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px;
}

.slick-dots li button::before {
  color: white;
  font-size: 10px;
}
.slick-dots {
  // background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 -40px;
}
.slick-dots li.slick-active button::before {
  color: white;
}
.specialCarousel {
  height: 580px;
  width: 80%;
  padding: 0 40px;
}
.slick-track {
  display: flex;
  justify-content: center;
}

// .react-multi-carousel-item {
//   display: flex;
//   justify-content: center;
//   padding: 0px;
// }

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow: overlay;
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $main;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
#headerDropdown {
  background: none;
  border: none;
  width: 30px;
  z-index: 100;
}
// @media (min-width: 640px) {
//   #headerDropdown {
//     display: none;
//   }
// }
#inputStyle {
  border-bottom: 1px solid white;
  transition: 0.4;
}
#input_Style {
  background-color: black;
  border-bottom: 1px solid white;
  transition: 0.4;
  margin-bottom: 10px;
}
#input_Style:focus {
  outline: none;
  border-bottom: 1px solid #4d9799;
  transition: 0.4;
}
#inputStyle:focus {
  outline: none;
  border-bottom: 1px solid #4d9799;
  transition: 0.4;
}
.membership::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
  background-blend-mode: multiply;
  // mix-blend-mode: multiply;
  // background-blend-mode: multiply;

  // mix-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: grayscale(100%);
  filter: opacity(100%);
}

// .membership {
//   background: url("../public/membership.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   filter: grayscale(100%);
// }
.registerPage::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
  background-blend-mode: multiply;
  // mix-blend-mode: multiply;
  // background-blend-mode: multiply;

  // mix-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: grayscale(100%);
  filter: opacity(100%);
}
.allFitness::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
  background-blend-mode: multiply;
  // mix-blend-mode: multiply;
  // background-blend-mode: multiply;

  // mix-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: grayscale(100%);
  filter: opacity(100%);
}
.offer {
  background-color: black;
  border: 1px solid white;
  height: 600px;
  width: 300px;
  text-align: center;
}
.signUpPage::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
  background-blend-mode: multiply;
  // mix-blend-mode: multiply;
  // background-blend-mode: multiply;

  // mix-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  // filter: grayscale(100%);
  filter: opacity(100%);
}
.loginPage::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
  background-color: black;
  background-blend-mode: multiply;
  // mix-blend-mode: multiply;
  // background-blend-mode: multiply;

  // mix-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: grayscale(100%);
  filter: opacity(100%);
}
