@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";
@import "./home.scss";
@import "./parallax.scss";
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
#headerDropdown {
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  border: none;
  width: 50px;
}
@media (min-width: 1024px) {
  #headerDropdown {
    display: none;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";
@import "./home.scss";
@import "./parallax.scss";
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
#headerDropdown {
	background-color: rgb(51 65 85 / var(--tw-bg-opacity));
	border: none;
	width: 50px;
}
@media (min-width: 1024px) {
	#headerDropdown {
		display: none;
	}
}
#inputStyle {
	border-bottom: 1px solid white;
	transition: 0.4;
}

#inputStyle:focus {
	outline: none;
	border-bottom: 1px solid #4d9799;
	transition: 0.4;
}
.membership::before {
	z-index: -1;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
	background-blend-mode: multiply;
	// mix-blend-mode: multiply;
	// background-blend-mode: multiply;

	// mix-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// filter: grayscale(100%);
	filter: opacity(100%);
}

// .membership {
//   background: url("../public/membership.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   filter: grayscale(100%);
// }
.registerPage::before {
	z-index: -1;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
	background-blend-mode: multiply;
	// mix-blend-mode: multiply;
	// background-blend-mode: multiply;

	// mix-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// filter: grayscale(100%);
	filter: opacity(100%);
}
.allFitness::before {
	z-index: -1;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
	background-blend-mode: multiply;
	// mix-blend-mode: multiply;
	// background-blend-mode: multiply;

	// mix-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// filter: grayscale(100%);
	filter: opacity(100%);
}
.offer {
	background-color: black;
	border: 1px solid white;
	height: 600px;
	width: 300px;
	text-align: center;
}
.signUpPage::before {
	z-index: -1;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
	background-blend-mode: multiply;
	// mix-blend-mode: multiply;
	// background-blend-mode: multiply;

	// mix-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	// filter: grayscale(100%);
	filter: opacity(100%);
}
.loginPage::before {
	z-index: -1;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background: url("../public/membership.png") rgba(0, 0, 0, 0.626);
	background-color: black;
	background-blend-mode: multiply;
	// mix-blend-mode: multiply;
	// background-blend-mode: multiply;

	// mix-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// filter: grayscale(100%);
	filter: opacity(100%);
}
