.rope {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  overflow-y: scroll;
  overflow-x: hidden;

  // position: fixed;
  // top: 50%;
  // left: 50%;
  // min-width: 100%;
  // min-height: 100%;
  // width: auto;
  // height: auto;
  // z-index: -1;
  // transform: translateX(-50%) translateY(-50%);
}
.running {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#pattern::before {
  position: fixed;
  content: "";
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  $color: #000;
  $rotation: 45;
  background-image: linear-gradient(
    #{$rotation}deg,
    $color 25%,
    transparent 25%,
    transparent 50%,
    $color 50%,
    $color 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.mainButton {
  background: $main;
  padding: 15px 50px;
  color: black;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
}
.signbutton {
  width: 320px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px 50px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
  margin-bottom: 5px;
}
.signFBbutton{
  width: 320px;
  background-color: rgb(0, 114, 237);
  color: black;
  padding: 15px 50px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
  margin-bottom: 5px;
}
.mainButton:hover {
  color: white;
  background: #26595b;
}

.secondaryButton {
  border: 1px solid white;
  background: white;
  padding: 13px 50px;
  color: black;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
}

.secondaryButton:hover {
  color: white;
  background: black;
  border: 1px solid white;
}
