.rope {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;
  overflow-x: hidden;

  // position: fixed;
  // top: 50%;
  // left: 50%;
  // min-width: 100%;
  // min-height: 100%;
  // width: auto;
  // height: auto;
  // z-index: -1;
  // transform: translateX(-50%) translateY(-50%);
}
.running {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#pattern:before {
  position: absolute;
  content: "";
  height: 740px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  $color: #000;
  $rotation: 90;
  background-image: linear-gradient(
    #{$rotation}deg,
    $color 25%,
    transparent 25%,
    transparent 50%,
    $color 50%,
    $color 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.mainButton {
  vertical-align: middle;
  font-size: 12px;
  width: 100px;
  height: 40px;
  background: $main;
  // padding: 15px 50px;
  color: black;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
}

.secondaryButton {
  vertical-align: middle;
  font-size: 12px;
  width: 100px;
  height: 38px;
  border: 1px solid white;
  background: white;
  // padding: 13px 50px;
  color: black;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
}

@media screen and (min-width: 640px) {
  .mainButton {
    background: $main;
    padding: 15px 50px;
    width: 220px;
    color: black;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 5px;
  }
}

.signbutton {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px 50px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;

  margin-bottom: 5px;
}
.signFBbutton {
  width: 320px;
  background-color: rgb(0, 114, 237);
  color: black;
  padding: 15px 50px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;

  margin-bottom: 5px;
}
.mainButton:hover {
  color: white;
  background: #26595b;
}

.secondaryButton:hover {
  color: white;
  background: black;
  border: 1px solid white;
}
