$profile-bg-color: #1f2937;
$profile-nav-bg-color: #4b5563;
$profile-nav-height: 60px;
$profile-nav-list-width: 50%;
$profile-nav-list-xl-width: 33%;
$profile-header-height: 250px;
$profile-header-image-top: 15%;

.profile {
  background-color: $main;
  margin: auto;
  min-height: 100vh;
  color: #fff;
  .profile-header {
    display: flex;
    flex-direction: column;
    position: relative;
    .profile-header-background {
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(46, 89, 105, 1) 59%,
        rgba(57, 112, 123, 1) 74%
      );
      height: $profile-header-height;
      width: 100%;
    }
    .profile-header-navbar {
      position: absolute;
      top: calc($profile-header-height - $profile-nav-height);
      width: 100%;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4b5563;
        width: 100%;
        height: $profile-nav-height;
        gap: 10px;
        @media (min-width: 768px) {
          width: $profile-nav-list-width;
        }
        @media (min-width: 1080px) {
          width: $profile-nav-list-xl-width;
        }
        li {
          transition: all 0.3s ease-in-out;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &.profile-header-activeBtn {
            transform: scale(1);
            font-weight: bold;
            background-color: $main;
          }
          &.profile-header-inActiveBtn {
            transform: scale(0.8);
            opacity: 0.7;
          }
        }
      }
    }
    .profile-header-image {
      position: absolute;
      top: $profile-header-image-top;
      left: 5%;
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1.5rem;
      color: $main;
      font-weight: 700;
      text-shadow: 0px 1px black;
      border-radius: 50%;
    }
  }
  .profile-body {
    min-height: 100vh;
    padding: 20px;
  }
}
